<div>
    <mat-card _ngcontent-c13="" class="sort_container mat-elevation-z6"  style="width:180px;position: relative;top: 10px;left: 10px;">
        <p><mat-icon> highlight</mat-icon>小提示</p>
        <p><b>认真对待每一篇文章~</b></p>
    </mat-card>
<mat-card _ngcontent-c13="" class="sort_container mat-elevation-z6" style="width:180px;position: relative;top: 10px;left: 10px;margin-top: 10px">
        <p style="margin-bottom: 5px"><b>添加文章</b></p>
        <mat-divider></mat-divider>
        <button routerLink='/writeArticle' mat-button style="margin-top:5px;background:lightgray;padding-left: 5px">
            点击我添加文章
        </button>
</mat-card >
</div>