<div class="sidenav-content-header-container">
    <h1>我的一些照片</h1>
</div>
<div>
    <ul class="ul-cotainer" style="padding-left: 0px">
        <div style="margin-left: 5px; margin-right: 20px; width: 440px;height: 280px;">
            <img class="img" src="assets\img\train.jpg" />
        </div>
        <div style="margin-left: 5px; margin-right: 20px; width: 440px;height: 280px;">
            <img class="img" src="assets\img\noodle.jpg" />
        </div>
        <div style="margin-left: 5px;; margin-right: 20px; width: 440px;height: 280px;">
            <img class="img" src="assets\img\noodle.jpg" />
        </div>
        <div style="margin-left: 5px;; margin-right: 20px; width: 440px;height: 280px;">
                <img class="img" src="assets\img\noodle.jpg" />
        </div>
        <div style="margin-left: 5px;; margin-right: 20px; width: 440px;height: 280px;">
                <img class="img" src="assets\img\noodle.jpg" />
        </div>
        <div style="margin-left: 5px;; margin-right: 20px; width: 440px;height: 280px;">
                <img class="img" src="assets\img\noodle.jpg" />
        </div>
        <div style="margin-left: 5px;; margin-right: 20px; width: 440px;height: 280px;">
                <img class="img" src="assets\img\noodle.jpg" />
        </div>
        <div style="margin-left: 5px;; margin-right: 20px; width: 440px;height: 280px;">
                <img class="img" src="assets\img\noodle.jpg" />
        </div>
    </ul>
</div>